<%- include('partials/header'); -%>


<h1>Home</h1>

<p><%= homeContent %></p>

<% postList.forEach(post => { %>
        <h1><%= post.title %></h1>
        <p> <%= post.post %></p>
<% }); %> 

<%- include('partials/footer'); -%>
